*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* #region base */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}
/* #endregion */

/* #region header  */
.header {
  background: #ffffff;
  width: 1440px;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  align-items: center;
  display: flex;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo:hover,
:focus {
  color: #404bbf;
}

.style-logo {
  color: #2e2f42;
}

.header-menu {
  text-align: center;
  display: flex;
  gap: 40px;
}

.nav-itm {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-itm:hover {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  line-height: 150%;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #434455;
  display: inline-flex;
  margin-left: auto;
  gap: 40px;
}

.contacts-itm {
  display: inline-flex;
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  display: inline-flex;
}
.contact-link:hover,
:focus {
  color: #404bbf;
}
/* #endregion */

/* #region hero */
.hero {
  background: #2e2f42;
  width: 1440px;
  height: 600px;
}

.hero-title {
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 56px;
}
.hero-button {
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  font-weight: 500;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region section */

.subtitle {
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
}

.list {
  background: #fff;
}
.desc {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-weight: 400;
  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */

/* #region gallery */
.gallery {
  background: #f4f4fd;
}
.gallery-tagline {
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
}
.gallery-list {
}
.gallery-item {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.gallery-text {
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  font-weight: 400;
}
/* #endregion */

/* #region portfolio */
.portfolio {
}
.portfolio-title {
  text-transform: capitalize;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-product {
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  font-weight: 500;
  font-size: 20px;
}
.portfolio-text {
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;

  font-weight: 400;
  font-size: 16px;
}
/* #endregion */

/* #region footer */
.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.style-logo-footer {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* #endregion */
